/* FAQ Flip Card Styles */
.faq-flip-card {
  perspective: 1200px;
  width: 100%;
  min-height: 217px;
  cursor: pointer;
}

.faq-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.4,0.2,0.2,1);
  transform-style: preserve-3d;
}

.faq-flip-card:hover .faq-flip-card-inner,
.faq-flip-card:focus-within .faq-flip-card-inner {
  transform: rotateY(180deg);
}

.faq-flip-card-front, .faq-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.faq-flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@keyframes autoRun3d {
    from {
      transform: perspective(800px) rotateY(-360deg);
    }
    to {
      transform: perspective(800px) rotateY(0deg);
    }
  }
  
  @keyframes animateBrightness {
    10% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(0.1);
    }
    90% {
      filter: brightness(1);
    }
  }
  
  .card-3d {
    position: relative;
    width: 400px;
    height: 200px;
    transform-style: preserve-3d;
    transform: perspective(800px);
    animation: autoRun3d 20s linear infinite;
    will-change: transform;
  }
  
  
  .card-3d div {
    position: absolute;
    width: 90px;
    height: 130px;
    background-color: rgb(200, 141, 40);
    border: solid 2px rgb(200, 141, 40);
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform-origin: center center;
    animation: animateBrightness 20s linear infinite;
    transition-duration: 200ms;
    will-change: transform, filter;
  }
  
  .card-3d:hover {
    animation-play-state: paused !important;
  }
  
  .card-3d:hover div {
    animation-play-state: paused !important;
  }
  
  .card-3d div:nth-child(1) {
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(160px);
    animation-delay: -0s;
  }
  
  .card-3d div:nth-child(2) {
    transform: translate(-50%, -50%) rotateY(36deg) translateZ(160px);
    animation-delay: -2s;
  }
  
  .card-3d div:nth-child(3) {
    transform: translate(-50%, -50%) rotateY(72deg) translateZ(160px);
    animation-delay: -4s;
  }
  
  .card-3d div:nth-child(4) {
    transform: translate(-50%, -50%) rotateY(108deg) translateZ(160px);
    animation-delay: -6s;
  }
  
  .card-3d div:nth-child(5) {
    transform: translate(-50%, -50%) rotateY(144deg) translateZ(160px);
    animation-delay: -8s;
  }
  
  .card-3d div:nth-child(6) {
    transform: translate(-50%, -50%) rotateY(180deg) translateZ(160px);
    animation-delay: -10s;
  }
  
  .card-3d div:nth-child(7) {
    transform: translate(-50%, -50%) rotateY(216deg) translateZ(160px);
    animation-delay: -12s;
  }
  
  .card-3d div:nth-child(8) {
    transform: translate(-50%, -50%) rotateY(252deg) translateZ(160px);
    animation-delay: -14s;
  }
  
  .card-3d div:nth-child(9) {
    transform: translate(-50%, -50%) rotateY(288deg) translateZ(160px);
    animation-delay: -16s;
  }
  
  .card-3d div:nth-child(10) {
    transform: translate(-50%, -50%) rotateY(324deg) translateZ(160px);
    animation-delay: -18s;
  }