@font-face {
    font-family: 'Thomeo';
    src: url('/fonts/Thomeo .ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'HoopsBrother';
    src: url('/fonts/The Brother Hoops.ttf');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'TacticSans';
    src: url('/fonts/TacticSans-Reg.otf');
    font-weight: normal;
    font-style: normal;
  }

:root {
  --color-black: #1a1a1a;
  --color-white: #fffffa;
  --color-secondary: #E6F85A;
}

@tailwind base;
@tailwind components;
@tailwind utilities;